<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CreditaNelas</title>
    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" style="background: #e9bdb0;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" style="width: 240px; display: flex; align-items: center;" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3">
                        <i class="fas fa-bars" style="color: #522c43"></i>
                    </div>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Postagens" asp-action="Index">Projetos</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item" style="margin: 9px 10px 5px 0;"> Olá, @User.Identity.Name </li>
                            <a class="cprojeto" asp-controller="Postagens" asp-action="Create" style="text-decoration: none; margin-right: 10px; display: flex; align-items: center;">
                                Criar Projeto
                            </a>
                            <li class="nav-item">
                                <form class="form-inline" asp-controller="Autenticacao" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-custom-logout" style="margin: 1px;">Logout</button>
                                </form>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Autenticacao" asp-action="Login">
                                    <i class="fa-solid fa-right-to-bracket"></i> Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-custom-register" asp-area="" asp-controller="Autenticacao" asp-action="Cadastrar">Registre-se</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="sticky-footer mt-5" style="background: #e9bdb0">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                    <h3 class="mb-4 text-dark text-center">Sobre o Projeto</h3>
                    <p class="text-dark text-center" style="font-weight: 500">
                        O <span class="span-one">CreditaNelas</span> é um projeto social com enfoque ao
                        público minoritário mulheres.
                    </p>
                    <p class="text-dark text-center" style="font-weight: 500">
                        Idealizado pela equipe 45 do curso
                        <span>Recode Pro</span> (instituição sem fins lucrativos).
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h3 class="mb-4 text-dark text-center">Equipe #45</h3>

                    <ul class="list-unstyled text-dark text-center"
                        style="font-weight: 500">
                        <li>
                            <p>Amonique Freitas</p>
                        </li>
                        <li>
                            <p>Felipe Rodrigues</p>
                        </li>
                        <li>
                            <p>Jamili Torres</p>
                        </li>
                        <li>
                            <p>João Victor</p>
                        </li>
                        <li>
                            <p>Ticiana Silva</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h3 class="mb-4 text-dark text-center">Contato</h3>

                    <ul class="list-unstyled text-dark text-center"
                        style="font-weight: 500">
                        <li>
                            <p>
                                <i class="icon fas fa-envelope mr-3"></i>creditanelas@gmail.com
                            </p>
                        </li>
                        <li>
                            <p><i class="icon fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                    <!-- Social buttons -->
                    <h3 class="mb-4 text-dark text-center">Conecte-se conosco</h3>

                    <!-- Facebook -->
                    <a href="#" style="text-decoration: none">
                        <i class="fab fa-facebook-f m-2"></i>
                    </a>
                    <!-- Instagram -->
                    <a href="#" style="text-decoration: none">
                        <i class="fab fa-instagram m-2"></i>
                    </a>
                    <!-- Twitter +-->
                    <a href="#" style="text-decoration: none">
                        <i class="fab fa-twitter m-2"></i>
                    </a>
                </div>
            </div>
        </div>

         <div class="footer-copyright text-center text-center py-3"
             style="background: #522c43; color: white;">
            &copy; 2022 - CreditaNelas - <a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration: none; color:#e9bdb0;">Home</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
