@model CreditaNelas.Models.Postagens

@{
    ViewData["Title"] = "Edit";
}

<section class="contact">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="head text-center text-white py-3"
                                    style="background-color: #522C43; border-radius: 5px;margin-top: -40px; ">
                                    <h3 style="font-family: 'Cormorant Garamond', serif;color: #E9BDB0;">Deseja editar
                                        sua postagem?</h3>
                                </div>
                            </div>
                        </div>
                        <div class="form p-3">
                            <div class="form-row my-5">
                                <div class="col-lg-6">
                                    <form asp-action="Edit"></form>
                                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                         <input type="hidden" asp-for="Id_Postagem"/>
                                          <input asp-for="Titulo"  class="effect-1" style="border: 0;
                                                                                       outline: none;
                                                                                       width: 100%;
                                                                                       padding: 7px 0;
                                                                                       border-bottom: 1px solid rgb(155, 65, 65);" 
                                          placeholder="Título da área de ajuda:">
                                            <span asp-validation-for="Titulo" class="Focus-border"></span> </div>
                                <div class="col-lg-6">
                                    <input asp-for="Whatsapp" class="effect-1" placeholder="Whatsapp">
                                    <span asp-validation-for="Whatsapp" class="Focus-border"></span>
                                </div>
                            </div>
                            <div class="form-row pb-4">
                                <div class="col-lg-12">
                                    <input asp-for="UrlImagem" class="effect-1" placeholder="Url da imagem">
                                    <span asp-validation-for="UrlImagem" class="Focus-border"></span>
                                </div>
                            </div>
                            <div class="form-row pt-5">
                                <div class="col-lg-12">
                                    <input asp-for="Descricao" class="effect-1" placeholder="Descrição do problema">
                                    <span asp-validation-for="Descricao" class="Focus-border"></span>
                                </div>
                            </div>
                            <!--Botões-->
                            <div class="form-row pt-4">
                                <div class="col-lg-6">
                                       <a asp-action="Index" class="btn btn1">Voltar</a>
                                   
                                </div>
                                <div class="col-lg-6">
                                    <input type="submit"  value="Editar" class="btn btn1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>




@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}