@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CreditaNelas</title>
    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- Jumbotron -->
    <div class="container">
        <div class="jumbotron img-jmbo" style="background: #522c43;">
            <h1 class="text-center text-light mt-4">Bem vindos ao CreditaNelas</h1>
            <p class="text-muted text-center mt-4" style="font-size: 1.2rem; font-weight: 500;">Conheça nosso Site!</p>

        </div>
    </div>
    <!-- Fim Jumbotron -->

    <main class="">
        <div class="section-1 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Sobre nós</h1>
                        <p class="mt-4">
                            O Creditanelas, é uma plataforma online de apadrinhamento para empreendedoras
                            iniciantes e micro-empreendedoras se conectarem com voluntários que acreditam
                            que colaborar e ensinar, muda o pequeno mundo de alguma mulher (cis e trans).
                        </p>
                        <p>
                            Acreditamos que acolher seu problema, nas áreas de formação básica de um pequeno
                            negócio e te conectar com quem acredita na sua capacidade, é te dar uma mãozinha amiga.
                            Está precisando de ajuda na sua logo, não sabe fazer uma planilha no Excel para as finanças
                            do seu empreendimento solo? Venha ser uma mulher acreditada também! Você tem conhecimento,
                            experiência em alguma área ou atividade específica que pode ajudar no empreendimento das
                            nossas empreendedoras? Vem ser um acreditador e acredite em alguma empreendedora.
                        </p>
                    </div>
                    <div class="col-md-5" style="margin-top: 100px;">
                        <img src="~/img/img3.jpg" alt="computador" style="width: 550px;" />
                    </div>
                </div>
            </div>
        </div>

        <div class="section-2 mt-5" style="background: #522c43" ;>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="text-left" style="margin-top: 140px; color: white;">
                            Nosso objetivo
                        </h1>
                        <p class="text-muted mt-4" style="font-weight: 500;">
                            Sobre mulheres que já iniciaram, mas por fim acabam se sentindo travadas em determinadas atividades específicas,
                            fazendo com que os negócios não vão para frente.
                        </p>
                        <p class="text-muted" style="font-weight: 500;">
                            Temos como missão alcançar e mudar o estado dessas mulheres que
                            se imaginam ou necessitam do empreendedorismo porém que pensam ou optam em
                            desistir por não ter as habilidades básicas nas variadas áreas de criação
                            e planejamento para iniciar, manter seu negócio.
                        </p>
                    </div>
                    <div class="col-md-5" style="margin-top: 100px;">
                        <img src="~/img/img4.jpg" alt="post it" style="width: 550px;" />
                    </div>
                </div>
            </div>
        </div>

        <div class="section-3 mt-5">
            <div class="container">
                <div class="title">
                    <h1 class="text-center">Projetos</h1>
                    <p class="text-center mt-4">
                        Confira alguns dos nossos cards contendo as informações sobre seu Projeto
                    </p>
                </div>

                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="card text-center" style="margin: 20px 10px;">
                            <img src="https://www.weact.org/wp-content/uploads/2016/10/Blank-profile.png"
                                 alt="" />
                            <div class="card-body">
                                <h4 class="card-title">Nome</h4>
                                <h5 class="card-subtitle mt-2">
                                    Título referente ao que procura
                                </h5>
                                <p class="card-text mt-2">
                                    Um exemplo de texto rápido para demonstrar a descrição do problema enfrentado pela empreendedora iniciante.
                                </p>
                                <h5 class="card-tel">Whatsapp</h5>
                                <p class="card-number">(81) 91111-1111</p>
                                <a class="btn btn-card btn-primary" href="#">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                |
                                <a class="btn btn-card btn-light" href="#">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                |
                                <a class="btn btn-card btn-danger" href="#">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center" style="margin: 20px 10px;">
                            <img src="https://www.weact.org/wp-content/uploads/2016/10/Blank-profile.png"
                                 alt="" />
                            <div class="card-body">
                                <h4 class="card-title">Nome</h4>
                                <h5 class="card-subtitle mt-2">
                                    Título referente ao que procura
                                </h5>
                                <p class="card-text mt-2">
                                    Um exemplo de texto rápido para demonstrar a descrição do problema enfrentado pela empreendedora iniciante.
                                </p>
                                <h5 class="card-tel">Whatsapp</h5>
                                <p class="card-number">(81) 91111-1111</p>
                                <a class="btn btn-card btn-primary" href="#">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                |
                                <a class="btn btn-card btn-light" href="#">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                |
                                <a class="btn btn-card btn-danger" href="#">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center" style="margin: 20px 10px;">
                            <img src="https://www.weact.org/wp-content/uploads/2016/10/Blank-profile.png" alt="" />
                            <div class="card-body">
                                <h4 class="card-title">Nome</h4>
                                <h5 class="card-subtitle mt-2">
                                    Título referente ao que procura
                                </h5>
                                <p class="card-text mt-2">
                                    Um exemplo de texto rápido para demonstrar a descrição do problema enfrentado pela empreendedora iniciante.
                                </p>
                                <h5 class="card-tel">Whatsapp</h5>
                                <p class="card-number">(81) 91111-1111</p>
                                <a class="btn btn-card btn-primary" href="#">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                |
                                <a class="btn btn-card btn-light" href="#">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                |
                                <a class="btn btn-card btn-danger" href="#">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>