@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CreditaNelas</title>
    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <main>
        <!-- About us -->
        <section class="about py-5">
            <div class="row align-items-center container my-5 mx-auto">
                <div class="text col-lg-6 col-md-6 col-12 w-50">
                    <h1>Sobre nós</h1>
                    <p class="mt-3">
                        O <span class="span-one">CreditaNelas</span> é uma plataforma online
                        de apadrinhamento para empreendedoras iniciantes e
                        micro-empreendedoras se conectarem com voluntários que acreditam que
                        colaborar e ensinar muda o pequeno mundo de alguma mulher (cis e
                        trans).
                    </p>
                </div>
                <div class="img col-lg-6 col-md-6 col-12 w-50">
                    <img class="img-fluid" src="img/aboutus.png" alt="" />
                </div>
            </div>
        </section>
        <!-- End About us -->
        <!-- Testimonials -->
        <section class="testimonials py-5">
            <div class="container">
                <h1>Depoimentos</h1>
                <p class="text-center mt-4">
                    Visualize os depoimentos de como o <code>CreditaNelas</code> favoreceu
                    o empreendimento das nossas <code>acreditadas</code>.
                </p>
                <div class="row py-5">
                    <div class="col-md-4 text-center">
                        <div class="profile">
                            <img src="~/img/img1.jpg" alt="" class="user" />
                            <blockquote>
                                <p>
                                    <span>&ldquo;</span>Comecei a pouco tempo no empreendedorismo
                                    mas já passei por muitas tarefas que me senti perdida de como
                                    prosseguir. Parece simples mas ter uma plataforma em que posso
                                    recorrer e encontrarei alguém disposto a me ajudar e ensinar é
                                    incrível.<span>&rdquo;</span>
                                </p>
                            </blockquote>
                            <h3>Ana Nerí</h3>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="profile">
                            <img src="~/img/img2.jpg" alt="" class="user" />
                            <blockquote>
                                <p>
                                    <span>&ldquo;</span>Costumava anotar minhas finanças num papel
                                    pautado pois não sabia como trabalhar com essas planilhas
                                    atuais mas agora com o projeto, conseguirei organizar todas
                                    elas de forma mais segura e eficiente. Muito obrigada,
                                    <code>CreditaNelas</code>.<span>&rdquo;</span>
                                </p>
                            </blockquote>
                            <h3>Fernanda Torres</h3>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="profile">
                            <img src="~/img/img3.jpg" alt="" class="user" />
                            <blockquote>
                                <p>
                                    <span>&ldquo;</span>Estava com uma grande carga de
                                    conhecimento teórico de como entender a persona do meu negócio
                                    mas congelava na hora de colocar na prática. Depois do
                                    apadrinhamento, as coisas no meu negócio começaram a ter um
                                    direcionamento.<span>&rdquo;</span>
                                </p>
                            </blockquote>
                            <h3>Ana Maria</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials -->
        
        <!-- Objective -->
        <section class="Objective py-5">
            <div class="row align-items-center container my-5 mx-auto">
                <div class="img col-lg-6 col-md-6 col-12 w-50">
                    <img class="img-fluid" src="~/img/solution.png" alt="" />
                </div>
                <div class="text col-lg-6 col-md-6 col-12 w-50">
                    <h1>Nosso objetivo</h1>
                    <p class="objective mt-3">
                        Temos como missão alcançar e mudar o estado das mulheres que se
                        imaginam ou necessitam do empreendedorismo, porém que pensam ou
                        optam em desistir por não ter as habilidades básicas nas variadas
                        áreas de criação e planejamento para iniciar, manter seu negócio.
                    </p>
                </div>
            </div>
        </section>
        <!-- End Objective -->
        
        <!-- Cards -->
       <section class="vol">
            <div class="container my-3 py-5 text-center">
                <div class="row mb-5">
                    <div class="col">
                        <h1>Conheça alguns dos nossos voluntários</h1>
                        <p class="mt-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit corporis quas aliquam dolorum ullam debitis deserunt praesentium veniam molestias.</p>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/img/img7.jpg" alt="" class="user mb-3">
                                <h3>Taisa Correia</h3>
                                <h5>Fotógrafa</h5>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Placeat nemo facilis, dolorum reprehenderit molestias quas
                                    facere commodi corporis et.
                                </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/img/img8.jpg" alt="" class="user mb-3">
                                <h3>Marcos Henrique</h3>
                                <h5>Designer</h5>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Placeat nemo facilis, dolorum reprehenderit molestias quas
                                    facere commodi corporis et.
                                </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/img/img4.jpg" alt="" class="user mb-3">
                                <h3>Alan Luz</h3>
                                <h5>Desenvolvedor Web</h5>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Placeat nemo facilis, dolorum reprehenderit molestias quas
                                    facere commodi corporis et.
                                </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
       </section>
        <!-- End Cards -->
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>